{% extends "countries/base.html" %}
{% block title %}{{code}}{% endblock %}
{% block content %}
{% include "countries/intro.html" %}
{% include "countries/breadcrumbs.html" %}
<div class="detail" align="center">
  {% for country in countries %}

      {% if country.code == code %}
        <h1>{{country.name|title}} ({{code}})</h1>
        <img src="{{country.map}}" alt="">
        <img src="{{country.uniform}}" height="200" alt="">
        <h3>{{country.pos}}</h3>
      {% endif %}

  {% endfor %}
</div>
{% endblock %}
