{% extends "countries/base.html" %}
{% block title %}Inicio - Geo{% endblock %}
{% block content %}
	<h1>Los Mejores Paises</h1>
	<h2>En la Copa del Mundo 2018</h2>
	<a href="/uniform">Uniforme</a>

	<p>
		<strong>Logged as: </strong>
		{{request.user}}
	</p>


	{% comment %}
	Template Tags With Jinja:
	Podemos usar como vemos más abajo:
	* for
	* if
	* lorem ipsum (generador)
	* now (fecha actual)
	* comment (comentarios)
	Filters
	* title : combierte la primera letra de cada palabra en mayuscula
	* force_scape : elimina los caracteres especiales
	* lower: pone las letras en minuscula

	https://docs.djangoproject.com/en/dev/ref/templates/builtins/
	{% endcomment %}

	<h3>{% now "Y-m-d"%}</h3>

	{% for country in countries %}
		<h3>{{country.name|title}}</h3>
		{% if country.pos == 'Campeón' %}
			<p>🏆</p>
		{% endif %}
		<p>{{country.pos}}</p>
		<img src="{{country.map}}" height="200" alt="">
		<p>{% lorem %}</p>
	{% endfor %}
	<h3>{% filter force_escape|lower %}
    rUSIA 2018 - FIFA
	{% endfilter %}</h3>
{% endblock %}
