{% extends "countries/base.html" %}
{% block title %}Inicio - Geo{% endblock %}
{% block content %}

{% include "countries/intro.html" %}

	{% comment %}
	Template Tags With Jinja:
	Podemos usar como vemos más abajo:
	* for
	* if
	* lorem ipsum (generador)
	* now (fecha actual)
	* comment (comentarios)
	Filters
	* title : combierte la primera letra de cada palabra en mayuscula
	* force_scape : elimina los caracteres especiales
	* lower: pone las letras en minuscula

	https://docs.djangoproject.com/en/dev/ref/templates/builtins/
	{% endcomment %}

	{% for country in countries %}
		<div align="center">
			<a href="{% url "countries:code_detail" code=country.code %}">
				<h3>{{country.name|title}}</h3>
			</a>
			{% if country.pos == 'Campeón' %}
				<p>🏆</p>
			{% endif %}
			<p>{{country.pos}}</p>
			<img src="{{country.map}}" height="200" alt="">
		</div>
		<p>{% lorem %}</p>
	{% endfor %}
	<h3>{% filter force_escape|lower %}
    rUSIA 2018 - FIFA
	{% endfilter %}</h3>
{% endblock %}
