{% extends "countries/base.html" %}
{% block title %}Inicio - Geo{% endblock %}
{% block content %}

{% include "countries/intro.html" %}
      {% for continent in continents %}
      <div class="border block_country" align="center">
        <a href="{{continent.detail_url}}"><h2>{{continent.name}}</h2></a>
        <p>
          <strong>Cantidad de equipos clasificados: </strong>
          {{continent.quantity}}
        </p>
        <p>
          <strong>Equipos que alcanzaron las semifinal: </strong>
          {{continent.semifinalist}}
        </p>
      </div>
      {% endfor %}

{% endblock %}
